<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" #>
<#@ output extension=".txt" #>
<#@ DGH_DGC_SOM_IKP processor="DGH_DGC_SOM_IKPDirectiveProcessor" requires="fileName='Sample.DGH_DGC_SOM_IKP'" #>

Generated material. Generating code in C#.

<#
  // When you change the DSL Definition, some of the code below may not work.

  foreach (ExampleElement element in this.ExampleModel.Elements)
  {
#>
	<#= element.Name #>
<#    
  }
#>
