<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("2942f35b-70c4-41a4-ac21-432018234b20");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
